<h1>Your Events</h1>

<div class="actions">
  <a class="btn-primary" href="/events/create">Create Event</a>
  <a class="btn-secondary" href="/events/join">Join Event</a>
</div>

<div class="event-grid">

  <% events.forEach(event=> { %>

    <div class="event-card">

      <h3>
        <%= event.name %>
      </h3>

      <p>Code: <%= event.join_code %>
      </p>

      <a href="/events/<%= event.id %>">Open</a>

    </div>

    <% }) %>

</div>