<div class="card">

  <h2>Create Account</h2>

  <form action="/register" method="POST">

    <input type="email" name="username" placeholder="Email">

    <input type="password" name="password" placeholder="Password">

    <button class="btn-primary">Register</button>

  </form>

</div>